.card {

    background-image: url("backgorund.png");

    background-image: url("backgorund.png");
    padding-bottom: 25px;

}

body {
    padding: 0%;
    margin: 0%;

    background-color: rgb(172, 168, 163);
}

h1 {
    letter-spacing: 4px;

    padding: 25px 0 0 25px;
    font-weight: normal;
}

img {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}